interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://api.github.com/repos/executablebooks/github-activity
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a3d17a6aecba37ebbcb1fc08712cc37d8db7039f6311f9374639af62bf04dcf3"
      Last-Modified:
      - Tue, 15 Sep 2026 21:15:16 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4955'
      X-RateLimit-Reset:
      - '1789510186'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '45'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - iad
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/executablebooks/github-activity/commits/v1.0.2
  response:
    body:
      string: '{"sha":"333712d1e6f70e1d79a8b7a51884fb301522c64d","node_id":"C_kwDODJbnsNoAKDMzMzcxMmQxZTZmNzBlMWQ3OWE4YjdhNTE4ODRmYjMwMTUyMmM2NGQ","commit":{"author":{"name":"Erik
        Sundell","email":"erik.i.sundell@gmail.com","date":"2025-04-11T22:23:28Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2025-04-11T22:23:28Z"},"message":"Merge
        pull request #117 from consideRatio/pr/cl102\n\nAdd changelog for v1.0.2","tree":{"sha":"fe306160c6e93a6cb778a2fdf68c7508f8dd3375","url":"https://api.github.com/repos/executablebooks/github-activity/git/trees/fe306160c6e93a6cb778a2fdf68c7508f8dd3375"},"url":"https://api.github.com/repos/executablebooks/github-activity/git/commits/333712d1e6f70e1d79a8b7a51884fb301522c64d","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsFcBAABCAAQBQJn+ZZgCRC1aQ7uu5UhlAAA5ucQAFdf9w0Nj+SCXLcBvzQjitNN\nGzoQwT/SHcsFjx7+TFy20WQz5eLDmnKHT8H41IV7+c588U4w8OhOXhJKMuA1dnfP\ndPfswo9X1dQWjk2cnFf053U71kwTxbGZAXQBW3Ct3pcE1bG1GGCigJHnsKVLNB05\nQp4QkTIZ6X7bJ92nra4Ju2UVvTaAnyZIvmVcULhkKT6voTCEU5qA2eo9115JDXLM\nGOG/X+U+MwDLthyKicIAqrk+CjquYsjBrXuvdPMrxoHHu1HMAofyVXFe3GzMU8Vw\nRl/p+GvMeHswvie0wGfy44FMfag1/f3VNP3jZpwaV8s4W4XeMWG9SNRr1m/kGgrB\n3lVl4lz3dDTY+uuK0/WoYUuwBPWQpujIeXiVFYO1wLDKvHDYO26ZB/Lq+WECXVVO\nDq7Lpv+wV1namq+kAno5qAtgr5ba7zvgyhiqPC2c1/2TIcy6kJnEeQmiFwWghmkE\nZ1B7VoQiCU1ebCAgQFfL2fX5WgIAe8PGCAsg873pHFHGu16xF2Mo8mUC00b6ojZ0\nifizhAHZkHSwdl3xt7pInQielMy64UDEn7Y3k6imHJqX6R6ZZqdvFSzUZPHRCeUh\nXzrEf/OBBJbHtcOJzvCGqNGTcekFnbDgBPp9OYlQlWeGAG4HsAf7nJS8xVOJ6BX1\nlKSoOnoY1TsHIxWr6ZKA\n=sU4t\n-----END
        PGP SIGNATURE-----\n","payload":"tree fe306160c6e93a6cb778a2fdf68c7508f8dd3375\nparent
        37cd1da9cbf045bec91adb2ce256e6d728b16468\nparent 3f3827f5892931f7b4b8facc2a8fabad21c6ac40\nauthor
        Erik Sundell <erik.i.sundell@gmail.com> 1744410208 +0200\ncommitter GitHub
        <noreply@github.com> 1744410208 +0200\n\nMerge pull request #117 from consideRatio/pr/cl102\n\nAdd
        changelog for v1.0.2","verified_at":"2025-04-11T22:24:03Z"}},"url":"https://api.github.com/repos/executablebooks/github-activity/commits/333712d1e6f70e1d79a8b7a51884fb301522c64d","html_url":"https://github.com/executablebooks/github-activity/commit/333712d1e6f70e1d79a8b7a51884fb301522c64d","comments_url":"https://api.github.com/repos/executablebooks/github-activity/commits/333712d1e6f70e1d79a8b7a51884fb301522c64d/comments","author":{"login":"consideRatio","id":3837114,"node_id":"MDQ6VXNlcjM4MzcxMTQ=","avatar_url":"https://avatars.githubusercontent.com/u/3837114?v=4","gravatar_id":"","url":"https://api.github.com/users/consideRatio","html_url":"https://github.com/consideRatio","followers_url":"https://api.github.com/users/consideRatio/followers","following_url":"https://api.github.com/users/consideRatio/following{/other_user}","gists_url":"https://api.github.com/users/consideRatio/gists{/gist_id}","starred_url":"https://api.github.com/users/consideRatio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/consideRatio/subscriptions","organizations_url":"https://api.github.com/users/consideRatio/orgs","repos_url":"https://api.github.com/users/consideRatio/repos","events_url":"https://api.github.com/users/consideRatio/events{/privacy}","received_events_url":"https://api.github.com/users/consideRatio/received_events","type":"User","user_view_type":"public","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","user_view_type":"public","site_admin":false},"parents":[{"sha":"37cd1da9cbf045bec91adb2ce256e6d728b16468","url":"https://api.github.com/repos/executablebooks/github-activity/commits/37cd1da9cbf045bec91adb2ce256e6d728b16468","html_url":"https://github.com/executablebooks/github-activity/commit/37cd1da9cbf045bec91adb2ce256e6d728b16468"},{"sha":"3f3827f5892931f7b4b8facc2a8fabad21c6ac40","url":"https://api.github.com/repos/executablebooks/github-activity/commits/3f3827f5892931f7b4b8facc2a8fabad21c6ac40","html_url":"https://github.com/executablebooks/github-activity/commit/3f3827f5892931f7b4b8facc2a8fabad21c6ac40"}],"stats":{"total":8,"additions":7,"deletions":1},"files":[{"sha":"0461e78258cb68ed02947ec4da4b88848040ee9d","filename":"CHANGELOG.md","status":"modified","additions":7,"deletions":1,"changes":8,"blob_url":"https://github.com/executablebooks/github-activity/blob/333712d1e6f70e1d79a8b7a51884fb301522c64d/CHANGELOG.md","raw_url":"https://github.com/executablebooks/github-activity/raw/333712d1e6f70e1d79a8b7a51884fb301522c64d/CHANGELOG.md","contents_url":"https://api.github.com/repos/executablebooks/github-activity/contents/CHANGELOG.md?ref=333712d1e6f70e1d79a8b7a51884fb301522c64d","patch":"@@
        -1,8 +1,14 @@\n # Changelog\n \n+## v1.0.2 - 2025-04-12\n+\n+### Continuous
        integration improvements\n+\n+- Fix another issue in the publish workflow
        [#116](https://github.com/executablebooks/github-activity/pull/116) ([@consideRatio](https://github.com/consideRatio))\n+\n
        ## v1.0.1 - 2025-04-11\n \n-### Maintenance and upkeep improvements\n+###
        Continuous integration improvements\n \n - Fix publish workflow failure [#114](https://github.com/executablebooks/github-activity/pull/114)
        ([@consideRatio](https://github.com/consideRatio))\n "}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4981c233c08c24be62c967f8a020932dbbf595172c14e2b85538c9551f451356"
      Last-Modified:
      - Fri, 11 Apr 2025 22:23:28 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4871'
      X-RateLimit-Reset:
      - '1789510078'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '129'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - iad
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "{\n  search(first: 50, query: \"repo:executablebooks/github-activity
      type:issue created:2025-04-11T22:23:28Z..2025-12-09T16:50:50Z\", type: ISSUE)
      {\n    issueCount\n    pageInfo {\n        endCursor\n        hasNextPage\n    }\n    nodes
      {\n      ... on PullRequest {\n                state\n        id\n        title\n        url\n        createdAt\n        updatedAt\n        closedAt\n        labels(first:
      10) {\n            edges {\n                node {\n           [...]
[...]
