interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://api.github.com/repos/executablebooks/github-activity
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a3d17a6aecba37ebbcb1fc08712cc37d8db7039f6311f9374639af62bf04dcf3"
      Last-Modified:
      - Tue, 15 Sep 2026 21:15:16 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4961'
      X-RateLimit-Reset:
      - '1789510186'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '39'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - iad
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/executablebooks/github-activity/commits/2021-01-01
  response:
    body:
      string: '{"message":"No commit found for SHA: 2021-01-01","documentation_url":"https://docs.github.com/rest/commits/commits#get-a-commit","status":"422"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4883'
      X-RateLimit-Reset:
      - '1789510078'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '117'
      x-accepted-github-permissions:
      - contents=read
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - iad
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"query": "{\n  search(first: 50, query: \"repo:executablebooks/github-activity
      type:issue created:2021-01-01T00:00:00Z..2021-01-15T00:00:00Z\", type: ISSUE)
      {\n    issueCount\n    pageInfo {\n        endCursor\n        hasNextPage\n    }\n    nodes
      {\n      ... on PullRequest {\n                state\n        id\n        title\n        url\n        createdAt\n        updatedAt\n        closedAt\n        labels(first:
      10) {\n            edges {\n                node {\n                    name\n                }\n            }\n        }\n        number\n      [...]
[...]
