# This will run every time a tag is created and pushed to the repository.
# It calls our tests workflow via a `workflow_call`, and if tests pass
# then it triggers our upload to PyPI for a new release.
name: Publish to PyPI
on:
  release:
    types: ["published"]

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    # This environment has access to the PyPI publishing key
    environment: pypi-publish
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6

        with:
          python-version: 3.13

      - name: Build package
        run: |
          python -m pip install -U pip build
          python -m build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_KEY }}
